@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.mask {
  height: auto;
  width: 100%;
  -webkit-mask-image: linear-gradient(black, transparent);
  mask-image: linear-gradient(black, transparent);
}

.custom-pagination .swiper-pagination-bullet {
  top: 0px;
  @apply w-4 h-1 bg-gray-400 rounded-full transition-colors;
}

.custom-pagination .swiper-pagination-bullet-active {
  top: 0px;
  @apply bg-white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
